{% extends 'base.html' %}

    {% block head %}{% endblock %}
    
    {% block body %}
    
    <center><h1 style="color:rgb(250, 230, 53);"> Welcome Engineers!!</h1></center>
    <br/>
    
    <h2>kindly lookup our website to know our college better </h2>
    <a href="about">About our college</a>
    <br/>
    <br/>


    <p>This is Meenakshi college of Engineering, with more than 10 departments in UG and PG. Along with more than 1500 students and 250+ staffs.
    </p>
    <br/>

    {% endblock %}
