{% extends 'base.html' %}

    {% block head %}
    
    {% endblock %}

    {% block body %}
    
    <form>
        <h1 style="color:rgb(250, 230, 53) ;">Sign In Page</h1><br/><br/>
        
        <label>Email:</label><br/>
        <input type="email" name ="email"><br/><br/><br/>
    
        <label>Password:</label><br/>
        <input type="password" name ="password"><br/><br/><br/>
    
      
    
    
        
    
        <input type="submit" class="btn btn-primary">
    {% endblock %}
